<div class="text-center bg-dark text-white">
    <span>{{ title }}</span>
</div>
<div class="container mt-5">
    <div class="conatainer-fluid">
        <div class="form-group">
            <input type="search" class="form-control" placeholder="Entrez le titre de livre" [(ngModel)]="search">
            <!-- <button class="btn btn-primary" (click)="searchLivreEmprunter()"><i class="fa fa-search"></i></button> -->
        </div>
    </div>

    <!-- search -->
    <div class="row d-flex" *ngIf="x.length > 0">
        <div class="col-md-4" *ngFor="let items of x; let i = index">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><i class="fa fa-book mx-1"></i>
                    <div class="d-flex flex-column ml-2"><span>{{ items.titre.toLocaleUpperCase() }}</span><span
                            class="text-black-50">{{
                            items.auteur }}</span><span class="ratings"><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6>{{ items.description }}</h6>
                <div class="d-flex justify-content-between install mt-3">
                    <span class="btn btn-info">Disponibilité: {{ items.disponible }}</span>
                </div>
                <div class="d-flex justify-content-between install mt-3">
                    <span>Nombre d'exemplaires: <b>{{ items.exemplaire }}</b></span>
                    <span class="text-primary" style="cursor: pointer;" data-bs-toggle="modal"
                        data-bs-target="#emprunteLivre" (click)="setUpdate(i)">Emprunter&nbsp;
                        <i class="fa fa-angle-right"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--ENd search-->

    <div class="row d-flex" *ngIf="livresAll.length > 0">
        <div class="col-md-4" *ngFor="let items of livresAll; let i = index">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><i class="fa fa-book mx-1"></i>
                    <div class="d-flex flex-column ml-2"><span>{{ items.titre.toLocaleUpperCase() }}</span><span
                            class="text-black-50">{{
                            items.auteur }}</span><span class="ratings"><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6>{{ items.description }}</h6>
                <div class="d-flex justify-content-between install mt-3">
                    <span class="btn btn-info">Disponibilité: {{ items.disponible }}</span>
                </div>
                <div class="d-flex justify-content-between install mt-3">
                    <span>Nombre d'exemplaire: <b>{{ items.exemplaire }}</b></span>
                    <span class="text-primary" style="cursor: pointer;" data-bs-toggle="modal"
                        data-bs-target="#emprunteLivre" (click)="setUpdate(i)">Emprunter&nbsp;
                        <i class="fa fa-angle-right"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="emprunteLivre" tabindex="-1" aria-labelledby="titreModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-dark ">
                <h1 class="modal-title fs-5 text-white" id="titreModal">Emprunter un livre</h1>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-control">
                    <div class="content-modal">
                        <div>
                            <input type="text" style="display: none;" [(ngModel)]="emprunte.livres.id_livre"
                                [ngModelOptions]="{standalone:true}">
                            <label>Titre</label>
                            <input type="text" class="form-control" [(ngModel)]="livres.titre"
                                [ngModelOptions]="{standalone: true}" disabled>
                            <hr>
                            <label>Nom d'emprunteur</label>
                            <select *ngIf="membresAll.length>0" class="form-select" [(ngModel)]="id_membre_emprunte"
                                [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let items of membresAll" value="{{items.id_membre}}">{{ items.prenom }}
                                </option>
                            </select>

                            <label>Date de debut de l'emprunte</label>
                            <input type="date" class="form-control" [(ngModel)]="emprunte.debut"
                                [ngModelOptions]="{standalone: true}">

                            <label>Date fin de l'emprunte</label>
                            <input type="date" class="form-control" [(ngModel)]="emprunte.retour"
                                [ngModelOptions]="{standalone: true}">

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="emprunteLivre()">
                    <i class="fa fa-plus mx-2"></i>
                    <span>Emprunter</span>
                </button>
            </div>
        </div>
    </div>
</div>